APP_DEBUG=true
# DEBUG=ioredis:redis

# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DB_PORTAL=portal_db
MYSQL_DB_EMBY=emby_db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
POLICY_TEMPLATE_PATH=./templates/redis/policy.json

# Publish server id
PUBLISH_SERVER_ID=11111111-1111-1111-1111-111111111111

# Max number of records to process per run
ITERATIONS=100
